# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.AssigmentTwo.iml
# Datasource local storage ignored files
/../../../../../../:\dotNetProjects\AssigmentTwo\.idea\.idea.AssigmentTwo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
